body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #21f344;
  color: white;
  border-radius: 5px;
}
